@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  font-style: normal;
  src: url('../assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: italic;
  src: url('../assets/fonts/Poppins-BlackItalic.ttf');
}

:root {
  --pre-background: white;
  --background: floralwhite;
  --foreground: #222;
  --border: #d4d4d4;
  --puzzle-background: white;
  --glass: rgba(255, 255, 255, 0.8);
  --highlight-color: yellow;
  --input-color: darkviolet;
}

@media (prefers-color-scheme: dark) {
  :root {
    --pre-background: black;
    --background: #333;
    --foreground: snow;
    --border: grey;
    --puzzle-background: black;
    --glass: rgba(0, 0, 0, 0.8);
    --highlight-color: rgb(69, 69, 21);
    --input-color: rgb(232, 163, 60);
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background-color: var(--pre-background);
  color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  box-sizing: border-box;
  transition: background-color 500ms ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &[data-state="loaded"],
  &.wordy {
    background-color: var(--background);
  }
}

main {
  max-width: 600px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 40px;
}

canvas {
  opacity: 0;
  transition: opacity 1s ease-out;

  &[data-state="show"] {
    opacity: 1;
  }
}

.solved {
  background-color: var(--glass);
  backdrop-filter: blur(2px);
  position: absolute;
  inset: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: opacity .25s;
  &[data-state="hidden"] {
    display: none;
  }
  &[data-state="pre-show"] {
    opacity: 0;
  }
  &[data-state="show"] {
    opacity: 1;
  }
}

.time,
.best {
  font-size: 22px;
}

.retry {
  padding-top: 20px;
}
