@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  font-style: normal;
  src: url('../assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: normal;
  src: url('../assets/fonts/Poppins-Black.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: italic;
  src: url('../assets/fonts/Poppins-BlackItalic.ttf');
}

:root {
  --square-size: 30px;
  --block-size: 90px;
  --puzzle-size: 270px;
  --background: white;
  --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 600px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.puzzle {
  display: flex;
  flex-wrap: wrap;
  width: var(--puzzle-size);
}

.block {
  display: flex;
  flex-wrap: wrap;
  width: var(--block-size);
  border: solid 1px black;
  transition: transform 0.25s;
  will-change: transform;
  background-color: var(--background);
}

.square {
  width: var(--square-size); 
  height: var(--square-size);
  font-size: var(--square-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  font-weight: 700;
}

.rotate {
  transition: transform 0.25s;
  will-change: transform;
}
