@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: italic;
  src: url('/fonts/Poppins-BlackItalic.ttf');
}

:root {
  --background: floralwhite;
  --foreground: #222;
  --border: #d4d4d4;
  --puzzle-background: white;
  --glass: rgba(255, 250, 240, 0.8);
  --highlight-color: yellow;
  --input-color: darkviolet;

  @media (prefers-color-scheme: dark) {
    --background: #333;
    --foreground: snow;
    --border: grey;
    --puzzle-background: black;
    --glass: rgba(0, 0, 0, 0.8);
    --highlight-color: rgb(69, 69, 21);
    --input-color: rgb(232, 163, 60);
  }

}

* {
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 600px) {
    padding-top: 150px;
  }
  
  @media (min-width: 600px) {
    align-items: center;
  }

}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 40px;
}

canvas {
  display: block;
}

.solved {
  background-color: var(--glass);
  backdrop-filter: blur(4px);
  position: absolute;
  inset: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: opacity .25s;
  pointer-events: none;
  text-transform: uppercase;

  .time {
    font-size: 40px;
    line-height: 1;
  }

  .best {
    font-size: 20px;
  }

  .continue {
    padding-top: 20px;
  }

  &[data-state="hidden"] {
    display: none;
  }
  &[data-state="pre-show"] {
    opacity: 0;
  }
  &[data-state="show"] {
    opacity: 1;
  }

}

.board {
  transition: opacity .25s;
  margin-bottom: 10px;
  [data-game-over="true"] & {
    opacity: 0.5;
  }
}

.guide,
.guide2 {
  position: absolute;
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  z-index: 1;
  &-item {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  button {
    border: 0;
    background-color: magenta;
    padding: 8px 18px;
    font-family: inherit;
    color: white;
    border-radius: 6px;
    font-size: inherit;
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.guide2 {
  width: 500px;
  height: 500px;
}

.toggle {
  display: flex;
  gap: 10px;
  .toggle-item {
    display: flex;
    gap: 7px;
    align-items: center;
    label {
      cursor: pointer;
    }
  }
}

.events {
  position: absolute;
  inset: 0;
}
