@import 'fonts';

@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

:root {
  --background: white;
  --foreground: #333;
  --border: silver;
  --square-size: 30px;
  --block-size: 90px;
  --puzzle-size: 270px;
  --glass: rgba(255, 255, 255, 0.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
    --glass: rgba(0, 0, 0, 0.8);
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 600px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 32px;
}

.puzzle {
  display: flex;
  flex-wrap: wrap;
  width: var(--puzzle-size);
}

.block {
  display: flex;
  flex-wrap: wrap;
  width: var(--block-size);
  border: solid 1px var(--border);
  transition: transform 300ms ease-out;
  will-change: transform;
  background-color: var(--background);
  cursor: pointer;
}

.square {
  width: var(--square-size); 
  height: var(--square-size);
  font-size: var(--square-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--border);
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
}

.rotate {
  transition: transform 300ms ease-out;
  will-change: transform;
}

.solved {
  background-color: var(--glass);
  backdrop-filter: blur(2px);
  position: absolute;
  inset: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &[data-show="false"] {
    display: none;
  }
}
